*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #78c1f3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background: #fff;
    padding: 25px;
    width: 500px;
    border-radius: 10px;

}
.todo-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5px;
    justify-content: center;
}
.hello{
    width: 25px;
}
.todo-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
.todo-input{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 15px 10px;

}
.todo-body img{
    cursor: pointer;
    height: 55px;
    width: 55px;
    padding: 15px;

}